In [1]:
import pandas as pd
data1={
    'A':[1,2],
    "B":[3,4]
}
df1=pd.DataFrame(data1)
df1

   A  B
0  1  3
1  2  4

In [3]:
data2={
    "A":[5,6],
    "B":[7,8]
}
df2=pd.DataFrame(data2)
df2

   A  B
0  5  7
1  6  8

In [6]:
pd.merge(df1,df2).value_counts()

Series([], dtype: int64)

data4={
"key":[6,7,9],